*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --main-color: #ab83e3;
    --main-font-color: #e3e4e8;
}

.hidden{
    display: none !important;
}


#navbar i, #navbar-on-scroll i{
    color: var(--main-color);
    font-size: 1.5rem;
}

#navbar-on-scroll{
    box-shadow: 0px 5px 8px -7px #715597;
}

#projects-btn{
    background-color: var(--main-color);
}


#styled-break{
    height: 10px;
    width: 77px;
    border-radius: 10px;
    background-color: var(--main-color);
}

#skills{
    background-color: var(--main-color);
}

#skills .card{
    background-color: rgb(54, 53, 53);
}

#skills i{
    color: var(--main-color);
}

#about-me{
    height: 55vh;
}

.skills-list li::marker{
    color: var(--main-color);
    font-size: 1.4em;
}


.project-img{
    height: 250px;
}


#academic-formation{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10rem;
}

.education-card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    width: 40%;
}

.education-img{
    width: 60px;
}

.education-title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 1024px){
    .project-img{
        height: 170px;
    }
}

@media only screen and (max-width: 500px){
    .project-img{
        height: 240px;
    }
}

