*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --main-color: #1E2E40;
    --main-font-color: #e3e4e8;
}

#my-navbar{
    box-shadow: 0px 5px 8px -7px #413ccc;
}

#styled-break{
    height: 10px;
    width: 77px;
    border-radius: 10px;
}

#skills{
    background-color: #12253b;
}

#about-me{
    height: 55vh;
}

.skills-list li::marker{
    color: #144883;
    font-size: 1.4em;
}


.project-img{
    height: 250px;
}

@media only screen and (max-width: 1024px){
    .project-img{
        height: 170px;
    }
}

@media only screen and (max-width: 500px){
    .project-img{
        height: 240px;
    }
}
