*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    /* --main-color: #ab83e3; */
    --main-color: #c39ef7;
    --main-font-color: #f8f9fa;
    --font-dark: #212529;
}

.hidden{
    display: none !important;
}


#navbar i, #navbar-on-scroll i{
    color: var(--main-color);
    font-size: 1.5rem;
}

#navbar-on-scroll{
    box-shadow: 0px 5px 8px -7px #715597;
}

#projects-btn{
    background-color: var(--main-color);
}


#styled-break{
    height: 10px;
    width: 77px;
    border-radius: 10px;
    background-color: var(--main-color);
}

#skills{
    background-color: var(--main-color);
}

#skills .card{
    background-color: rgb(54, 53, 53);
}

#skills i{
    color: var(--main-color);
}

#about-me{
    height: 55vh;
    background-color: var(--main-color);
}

.skills-list li::marker{
    color: var(--main-color);
    font-size: 1.4em;
}

#projects{
    background-color: var(--main-color);
}


.project-img{
    height: 250px;
}


.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wave2{
    background-image: url(../images/wave2.svg);
}

.wave3{
    background-image: url(../images/wave3.svg);
}

#academic-formation{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30vh;
    margin-bottom: -30vh
}

.education-container{
    display: grid;

    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    gap: 5rem;
}

.education-card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    min-width: 100px;
    width: 100%;
}

.education-img{
    width: 60px;
}

.education-title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5rem;
}

footer{
    background-color: var(--main-color);
}

@media only screen and (max-width: 1024px){
    .project-img{
        height: 170px;
    }

    #academic-formation{
        margin-top: -10vh;
        margin-bottom: -10vh;
    }
}

@media only screen and (max-width: 500px){
    .project-img{
        height: 240px;
    }

    #academic-formation{
        height: auto;

        margin-top: 0;
        margin-bottom: 1rem;
    }

    .education-container{
        display: grid;
    
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
}

